*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #f8f8f8; 
    line-height: 1.6;
    color: #333;
}


.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%; 
    background-color: #fff;
    border-bottom: 1px solid #eee; 
}
